<!--
  Generated template for the ReviewSavedPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>View Submitted Session Notes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="review-saved">
  
    <ion-item no-lines text-right>
     <ion-label>{{showRates ? "Hide" : "Show" }} Rates:</ion-label>
     <ion-toggle [(ngModel)]="showRates"></ion-toggle>
  </ion-item>

  <ion-list>
    <ion-item-sliding *ngFor="let sn of sessionNotes; let ci = index"  #item>
     <ion-item >
       <span style="float:right !important; font-size: 12px !important">{{sn.sessionDateDisplay}} </span>
       <h2>{{sn.sessionType}} Session</h2>
       <h3>{{sn.lastName}}, {{sn.firstName}} - {{sn.studentId}}</h3> {{showRates && sn.rate ? "$"+sn.rate : "" }} 
     </ion-item>
  
     <ion-item-options>
       <button  *ngIf=" sn.sessionType !== 'Cancelled'" ion-button color="danger"  (click)="deleteClicked(ci)" icon-left><ion-icon name="trash"></ion-icon> Delete</button>
     </ion-item-options>
   </ion-item-sliding>
  </ion-list>
</ion-content>
